h1{
	color: violet;
}
p{
	color:red;
	background-color: indigo;
	height: 50%;
	width: 50%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
li{
	color: burlywood;
}
.author-name{
	color: gold
}
footer{
	color: red;
}
