h1{
	color: violet;
	text-align: center;
}
p{
	color:red;
	background-color: indigo;
	height: 50%;
	width: 50%;
	margin: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border: dashed;
	padding: 20px 10px 10px 10px;
	text-align: justify;
	font-style: inherit;
	text-decoration: dotted;
}
li{
	color: burlywood;
	text-align:center
	
}
.author-name{
	color: gold
}
footer{
	color: red;
	text-align: center;
}
ol{
text-align: center;
}
